<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.gni_transport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gni"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gni"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gni.ui.activities.MainActivity"
            android:label="Primary Route">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name=".gni.firebase.FirebasewMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".gni.firebase.Firebaseinstanceid">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".gni.ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".gni.ui.activities.CollegeMap"
            android:label="College Map"
            android:parentActivityName=".gni.ui.activities.HomeActivity" />
        <activity
            android:name=".gni.ui.activities.Scanner"
            android:label="Scan Id Card"
            android:parentActivityName=".gni.ui.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gni.ui.activities.Complaints"
            android:label="complaints"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gni.ui.activities.NoticeActivity"
            android:label="Notifications"
            android:parentActivityName=".gni.ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter android:name="com.example.root.gni_transport_NOTIFICATION_TARGET">
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gni.ui.activities.All_Routes"
            android:label="All Routes"
            android:parentActivityName=".gni.ui.activities.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".gni.ui.activities.Intro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gni.ui.activities.RouteMapAtivity"
            android:label="@string/title_activity_route_map_ativity">
        </activity>
    </application>

</manifest>